.player {
  width: 800px;
  height: 600px;
  box-shadow: 0 0 10px rgba(0,0,0,1);
  display: flex;
  flex-direction: column;
}

.video-container {
  flex-grow: 1;
}

.player-button {
  height: 30px;
  width: 30px;
  margin: 7px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: white;
  font-size: 19px;
}

.player-button.play, .player-button.pause {
  margin-left: 2px;
}

.player-button.mute, .player-button.volume {
  margin-left: -2px;
}
.player-button.fullscreen {
  margin-right: 3px;
}

.bottom-controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: black;

}


.viewing-panel {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  margin-right: 5px;
  margin-left: -5px;
}
.viewing-duration {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-right: -8px;

}
.viewing-progressbar {
  background-color: black;
  flex:1;
  display: flex;
}
.viewing-slider {
  background-color: red;
  height: 5px;
  border-radius: 10px;
  margin-left: 10px;
      margin-top: 5px;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: red;
  border-radius: 50%;
  border: white 3px solid;
  margin-left: -8px;
  margin-top: 2px;
  opacity: 0;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in, ease-out;
}
.viewing-progressbar:hover .dot {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-in, ease-out;
}
