.player {
  width: 800px;
  height: 600px;
  box-shadow: 0 0 10px rgba(0,0,0,1);
  display: flex;
  flex-direction: column;
}

.video-container {
  flex-grow: 1;
}

.player-button {
  height: 30px;
  width: 30px;
  margin: 7px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: white;
  font-size: 19px;
}

.player-button.play {
  margin-left: 2px;
}

.player-button.mute {
  margin-left: 0;
}
.player-button.fullscreen {
  margin-right: 1px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  background-color: black;
}

.fullscreen-button {
  margin-left: auto;
}