@import "normalize.css";

.player {
    width: 800px;
    height: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1);
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

.video-container {
    flex-grow: 1;
}

.player-button {
    height: 35px;
    width: 35px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: white;
    font-size: 20px;
}

.bottom-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    align-items: center;

}

.viewing-panel {
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex: 1;
    justify-content: space-between;

}

.viewing-progressbar {
    background-color: black;
    flex: 1;
    display: flex;
    align-items: center;
}

.viewing-slider {
    background-color: red;
    height: 5px;
    border-radius: 10px;
}

.dot {
    height: 8px;
    width: 8px;
    background-color: red;
    border-radius: 50%;
    border: white 3px solid;
    margin-left: -5px;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in, ease-out;
}

.viewing-progressbar:hover .dot {
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.3s;
    transition-timing-function: ease-in, ease-out;
}

